@use 'variables' as vars; // 色の変数
body {
	font-family: vars.$font-family_1;
	margin: 0;
	padding: 0;
	background-color: vars.$background-color_2;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.social-icon {
	margin: 15px;
	border: none;
	outline: none;
	box-shadow: none;
}

.section,
.profile-section,
.work-section,
.contact-section,
.career-section,
.personality-section,
.objectives-section,
.hobby-section {
	max-width: 1140px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 30px;
	background-color: vars.$background-color_4;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.profile-subtitle,
.work-subtitle,
.career-subtitle,
.personality-subtitle,
.objectives-subtitle,
.hobby-subtitle {
	font-size: 18px;
	color: vars.$color_5;
	display: inline-block;
	margin-bottom: 20px;
	border-bottom: 2px solid vars.$color_5;
	text-align: left;
	font-weight: bold;
}

.profile-title,
.work-title,
.contact-title,
.career-title,
.personality-title,
.objectives-title,
.hobby-title {
	font-size: 28px;
	color: vars.$color_1;
	margin-bottom: 30px;
	border-bottom: 2px solid vars.$color_1;
	text-align:left ;
	font-weight:bold ;
}

.profile-content,
.work-content,
.contact-content,
.career-content,
.personality-content,
.objectives-content,
.hobby-content {
	display:flex ;
	flex-direction : column ;
	align-items:flex-start ;
	margin-bottom :60px ;
	border :1px solid vars.$color_3 ;
	padding :20px ;
	background-color :#f9f9f9 ;
	box-shadow :0 4px 8px rgba(0,0,0,0.1) ;
}

.profile-image,
.profile-info-list,
.profile-skills-list,
.profile-description,
.work-description,
.contact-description,
.personality-description,
.hobby-description,
.career-description {
	list-style:none ;
	margin :15px 0 ;
	color :vars.$color_1 ;
	text-align:left ;
}

.site-logo, .profile-image {
	width :100px ;
	height :100px ;
	border-radius :50% ;
}
#footer {
	background-color:vars.$background-color_1 ;
	text-align:center ;
	padding :16px ;
	display:flex ;
	justify-content:center ;
	align-items:center ;
}
.footer-end {
	color:vars.$color_2 ;
	display:flex ;
	align-items:center ;
}

  #fadein-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  #fadein-animated-text {
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	perspective: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  .text {
	font-family: vars.$font-family_1;
	color: vars.$color_4;
	opacity: 0;
	transform: translateY(20px) scale(1.05) rotateX(90deg);
	filter: blur(5px) brightness(0.8);
	transition: all 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
	line-height: 1.5;
	text-shadow:
	  0px 2px 5px #aaa,
	  0px 12px 22px rgba(0, 0, 0, 0.15),
	  0px 18px 6px rgba(0, 0, 0, 0.1),
	  0px 28px 20px rgba(0, 0, 0, 0.1);
  }
  .fade-in {
	opacity: 1;
	transform: translateY(0) scale(1) rotateX(0);
	filter: blur(0) brightness(1);
  }
  .contact-iframe {
	width: 100%;
	border-radius: 8px;
	border: none;
	max-width: 961px;
	max-height: 100vh;
  }
  .page-top,
  .page-home {
	display: block;
	font-weight: bold;
	padding: 0.7em;
	text-align: center;
	color: vars.$color_1;
	transition: 0.3s;
  }
  .page-top:hover {
	background: vars.$background-color_3;
	color: vars.$color_2;
  }
  .page-home {
	color: vars.$color_2;
  }

  // メニュー表示
  #hamburger-toggle {
	display: block;
  }

  // メインナビゲーション非表示
  .main-navigation {
	display: none;
  }

  #header {
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  .header-main-title,
  .header-sub-title {
	font-size: 20px;
  }
  .site-logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }
  .profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }

  // トップページとホームページのスタイル
  .page-top,
  .page-home {
	display: block;
	font-weight: bold;
	padding: 0.7em;
	text-align: center;
	color: vars.$color_1;
	transition: 0.3s;
  }
  .page-top:hover {
	background: vars.$background-color_3;
	color: vars.$color_2;
  }
  .page-home {
	color: vars.$color_2;
  }

  // メインナビゲーション
  .main-navigation {
	display: flex;
  }

  // 共通ナビゲーションスタイル
  .navigation-list,
  .other-navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  .navigation-item,
  .other-navigation-item {
	margin: 20px;
	position: relative;
	display: inline-block;
  }
  .navigation-item a,
  .other-navigation-item a {
	color: vars.$color_2;
	text-decoration: none;
	transition: border-bottom 0.5s;
	border-bottom: 2px solid transparent;
	&:hover {
	  border-bottom: 2px solid vars.$color_2;
	}
  }

  // サブナビゲーション
  .other-navigation-list {
	margin: 0 0 0 -150px;
	display: none;
	position: absolute;
	left: -200px;
	top: 100%;
	white-space: nowrap;
  }
  .other-navigation-item {
	margin: 0 10px;
	padding: 1em;
	font-family: sans-serif;
	letter-spacing: 0.5em;
	font-weight: bold;
  }

  // メニューのトグルスタイル
  .menu-toggle {
	display: inline-block;
	cursor: pointer;
	color: vars.$color_2;
	transform: rotate(90deg);
	transition: transform 0.3s;
  }
  #menu:checked ~ .menu-toggle {
	transform: rotate(270deg);
  }
  #menu:checked + label + .other-navigation-list,
  #menu:checked + .other-navigation-list {
	display: block;
  }
  input[type="checkbox"] {
	display: none;
  }
  label[for="menu"] {
	display: inline-block;
	cursor: pointer;
	color: vars.$color_2;
  }
  // ヘッダースタイル
  #header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background-color: vars.$background-color_1;
	color: vars.$color_2;
	min-height: 100px;
	overflow: auto;
  }
  .main-navigation {
	display: flex;
  }
