@use 'mq' as mq; // 同じ名前空間
@use 'variables' as vars; // 変数ファイルの相対パスが必要です

@include mq.mq('md') {
    // タブレット用のスタイル
    body {
        font-size: 15px; // タブレットサイズでのフォントサイズ
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    .text{
        font-size: 23px;
    }
    .site-logo {
        width: 50px; // タブレットサイズでのロゴの幅
        height: auto; // アスペクト比を保つ
    }
  }




