$color_1: #2f2e33;
$color_2: #D7E6EF;
$color_3: #6E777C;
$color_4: #5800a0;
$color_5: #5a5f37;
$font-family_1: 'Sen', sans-serif;
$background-color_1: #454C50;
$background-color_2: #D7E6EF;
$background-color_3: #6E777C;
$background-color_4: #f0eff0;