body {
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D7E6EF;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.social-icon {
  margin: 15px;
  border: none;
  outline: none;
  box-shadow: none;
}

.section,
.profile-section,
.work-section,
.contact-section,
.career-section,
.personality-section,
.objectives-section,
.hobby-section {
  max-width: 1140px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 30px;
  background-color: #f0eff0;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}

.profile-subtitle,
.work-subtitle,
.career-subtitle,
.personality-subtitle,
.objectives-subtitle,
.hobby-subtitle {
  font-size: 18px;
  color: #5a5f37;
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 2px solid #5a5f37;
  text-align: left;
  font-weight: bold;
}

.profile-title,
.work-title,
.contact-title,
.career-title,
.personality-title,
.objectives-title,
.hobby-title {
  font-size: 28px;
  color: #2f2e33;
  margin-bottom: 30px;
  border-bottom: 2px solid #2f2e33;
  text-align: left;
  font-weight: bold;
}

.profile-content,
.work-content,
.contact-content,
.career-content,
.personality-content,
.objectives-content,
.hobby-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
  border: 1px solid #6E777C;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image,
.profile-info-list,
.profile-skills-list,
.profile-description,
.work-description,
.contact-description,
.personality-description,
.hobby-description,
.career-description {
  list-style: none;
  margin: 15px 0;
  color: #2f2e33;
  text-align: left;
}

.site-logo, .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#footer {
  background-color: #454C50;
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-end {
  color: #D7E6EF;
  display: flex;
  align-items: center;
}

#fadein-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#fadein-animated-text {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  perspective: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  font-family: "Sen", sans-serif;
  color: #5800a0;
  opacity: 0;
  transform: translateY(20px) scale(1.05) rotateX(90deg);
  filter: blur(5px) brightness(0.8);
  transition: all 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.5;
  text-shadow: 0px 2px 5px #aaa, 0px 12px 22px rgba(0, 0, 0, 0.15), 0px 18px 6px rgba(0, 0, 0, 0.1), 0px 28px 20px rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 1;
  transform: translateY(0) scale(1) rotateX(0);
  filter: blur(0) brightness(1);
}

.contact-iframe {
  width: 100%;
  border-radius: 8px;
  border: none;
  max-width: 961px;
  max-height: 100vh;
}

.page-top,
.page-home {
  display: block;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  color: #2f2e33;
  transition: 0.3s;
}

.page-top:hover {
  background: #6E777C;
  color: #D7E6EF;
}

.page-home {
  color: #D7E6EF;
}

#hamburger-toggle {
  display: block;
}

.main-navigation {
  display: none;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-main-title,
.header-sub-title {
  font-size: 20px;
}

.site-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.page-top,
.page-home {
  display: block;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  color: #2f2e33;
  transition: 0.3s;
}

.page-top:hover {
  background: #6E777C;
  color: #D7E6EF;
}

.page-home {
  color: #D7E6EF;
}

.main-navigation {
  display: flex;
}

.navigation-list,
.other-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-item,
.other-navigation-item {
  margin: 20px;
  position: relative;
  display: inline-block;
}

.navigation-item a,
.other-navigation-item a {
  color: #D7E6EF;
  text-decoration: none;
  transition: border-bottom 0.5s;
  border-bottom: 2px solid transparent;
}
.navigation-item a:hover,
.other-navigation-item a:hover {
  border-bottom: 2px solid #D7E6EF;
}

.other-navigation-list {
  margin: 0 0 0 -150px;
  display: none;
  position: absolute;
  left: -200px;
  top: 100%;
  white-space: nowrap;
}

.other-navigation-item {
  margin: 0 10px;
  padding: 1em;
  font-family: sans-serif;
  letter-spacing: 0.5em;
  font-weight: bold;
}

.menu-toggle {
  display: inline-block;
  cursor: pointer;
  color: #D7E6EF;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

#menu:checked ~ .menu-toggle {
  transform: rotate(270deg);
}

#menu:checked + label + .other-navigation-list,
#menu:checked + .other-navigation-list {
  display: block;
}

input[type=checkbox] {
  display: none;
}

label[for=menu] {
  display: inline-block;
  cursor: pointer;
  color: #D7E6EF;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #454C50;
  color: #D7E6EF;
  min-height: 100px;
  overflow: auto;
}

.main-navigation {
  display: flex;
}

@media (min-width: 601px) and (max-width: 960px) {
  body {
    font-size: 15px;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .text {
    font-size: 23px;
  }
  .site-logo {
    width: 50px;
    height: auto;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .site-logo {
    width: 40px;
    height: auto;
    margin: auto;
  }
  .text {
    font-size: 20px;
  }
  #header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .header-title-container {
    text-align: center;
    margin-bottom: 10px;
  }
  .main-navigation {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-item,
  .other-navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-item.has-subnav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation-item.has-subnav label[for=menu] {
    position: relative;
    top: 10px;
    right: auto;
    transform: none;
    transform: translateY(-50%) rotate(90deg);
  }
  #menu:checked + label + .other-navigation-list,
  #menu:checked + .other-navigation-list {
    position: static;
    display: block;
    margin: 10px auto;
  }
}/*# sourceMappingURL=style.css.map */