@use "../base" as *;
@use "../abstracts" as *;
@use "../components" as *;

// _footer.scss
.footer,
.contact {
    background: $grey-1;
    color: $almost-white;
    padding: $space-lg;
    text-align: center;

    &__quick,
    &__legal,
    &__copyright {
        margin-bottom: $space-lg;
    }

    &__legal-link,
    .social-link {
        margin-right: $space-sm;
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $space-lg;
    }

    .cta-container {
        margin: $space-lg 0;
    }

    &__copyright {
        color: $almost-white;
        font-size: $font-size-sm;
    }

    // Responsive Breakpoints
    @include mq("xs") {
        padding: $space-md;
        text-align: center;

        &__quick,
        &__legal,
        &__social-links,
        &__copyright {
            border: none;
        }
    }

    @include mq("sm") { padding: $space-lg; }
    @include mq("md") { padding: $space-xl; }
    @include mq("lg") { padding: $space-xxl; }
}

// Additional styles to ensure navigation links and items are centered in mobile view
.sitemap__item,
.footer__legal-link,
.social-link {
    @include mq("xs") {
        text-align: center; 
        display: block; 
        margin-left: 0;
        margin-right: 0;
    }
}
