@use "../base" as *;
@use "../abstracts" as *;
@use "../components" as *;


// _nav.scss
// [Navigation Section]
.nav {
  display: flex;
  align-items: center;
  gap: $space-lg;
  font-family: $font-jp-title;
  z-index: 100;
  margin-bottom: $space-md; // 余白を追加

  @include mq("xs") {
    flex-direction: row; // ここを変更して横並びにしました
    align-items: center; // こちらも変更して中央揃えにしました
    gap: $space-md;
  }

  // [Navigation List]
  &__list {
    display: flex;
    gap: $space-lg;

    @include mq("xs") {
      gap: $space-md;
      flex-direction: row; // ここを変更して横並びにしました
    }
  }

  // [Navigation Item]
  &__item {
    position: relative;

    &:hover .nav__sublist,
    &:focus-within .nav__sublist {
      display: block;
      opacity: 1;
    }
  }

  // [Navigation Title]
  &__title {
    font-size: $font-size-md;
    color: $black;
    cursor: pointer;

    @include mq("sm") {
      font-size: $font-size-sm;
    }

    &:hover,
    &:focus {
      color: $green-1;
      animation: swing 0.5s ease-in-out;
    }
  }

  // [Sublist]
  &__sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $off-white;
    border: $border-width solid $grey-3;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  // [Sublist Item]
  &__subitem {
    padding: $space-xs $space-sm;
    font-family: $font-en-title;
  }

  // [Navigation Link]
  &__link {
    font-family: $font-jp-subtitle;
    color: $grey-2;
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $black;
    }
  }
}