@use "../base" as *;
@use "../abstracts" as *;
@use "../components" as *;

// _sitemap.scss
.sitemap {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        flex-grow: 1;
        text-align: center;
        margin: 0 $space-md $space-sm;
        border-right: 1px solid $almost-white;

        // 最後の項目の余分なマージンとボーダーを削除
        &:last-child {
            margin-right: 0;
            border-right: none;
        }
    }

    &__title,
    &__link {
        font-size: $font-size-md;
        margin-bottom: $space-xs;
        font-family: $font-jp-title;
    }

    &__link {
        color: $almost-white;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: darken($almost-white, 10%);
            text-decoration: none;
        }
    }

    // スマートフォン用のスタイル調整
    @include mq("xs") {
        &__list {
            margin: 0; 
        }

        &__item {
            margin: 0 0 $space-sm; 
            border-right: none; 
        }

        &__title,
        &__link {
            font-size: $font-size-sm; 
        }
    }

    @include mq("sm") {
        &__title,
        &__link {
            font-size: $font-size-md;
        }
    }
}
