@use "common" as common;

@include common.mq("sp") {
  .header {
    display: none;
  }
  .mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #E60012;
  }
  .mobile-header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: -3em;
  }
  .mobile-header__nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .mobile-header__logo-link {
    display: inline-block;
  }
  .mobile-header__logo {
    margin-right: 10px;
  }
  .mobile-header__hamburger-menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }
  .mobile-header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
  .mobile-header__bar {
    background-color: #E60012;
    height: 5px;
    width: 25px;
    margin: 5px 0;
    border-radius: 3px;  // 角を丸く
  }
  .mobile-header__nav-item {
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .mobile-header__nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
.mobile-header__nav-link:hover {
    color: #E60012;
}
  .mobile-header__nav-item:last-child {
    border-bottom: none;
  }
  .mobile-header__bar {
    background-color: #E60012;
    height: 5px;
    width: 25px;
    margin: 5px 0;
  }
  .mobile-header__close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1001;
  }

  .main-visual__image--pc {
    display: none;  // PC画像を非表示にする
  }
  .main-visual__image--sp {
    display: block;  // モバイル画像を表示する
    width: 100%;  // オプション：モバイル画像も親要素に合わせて拡大/縮小
    height: auto;  // オプション：縦横比を維持
  }
    // 新着情報セクション
    .info {
      padding: 20px;
    }
    .info__container {
      max-width: 100%;
      padding: 10px;
    }
    .info__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .info__item {
      margin-bottom: 12px;
      padding: 5px 0;
    }
    .info__date, .info__link {
      font-size: 14px;
      margin-right: 10px;
    }
    // Company&works セクション
    .section-combined {
      padding: 20px 0;
    }
    .section-combined__container {
      flex-direction: column;
    }
    .section-combined__title {
      font-size: 24px;
      padding: 3px;
    }
    .footer__text {
      color: #707070;
      font-size: 10px;  // フォントサイズを少し小さく
    }

    // プライバシーセクションとコンタクトセクションを縦に並べる
    .footer__section--privacy, .footer__section--contact {
      display: block;  // inline-blockからblockに変更
      border-left: none;  // 左側の境界線を削除
      text-align: center;  // テキストを中央に
    }
    .contact {
      padding: 20px 0;
  }

  .contact__container {
      padding: 0 10px;
  }

  .contact-form__field {
      margin-bottom: 20px;
  }

  .contact-form__label {
      font-size: 14px;
  }

  .contact-form__input, .contact-form__textarea {
      padding: 10px;
  }

  .contact-form__button {
      padding: 10px 30px;
      font-size: 14px;
  }
  .privacy, .company, .news, .work {
    padding: 20px 0;
  }

  // コンテナーの調整
  .privacy__container, .company__container, .news__container, .work__container {
    width: 100%;
    padding: 10px;
  }

  // サブタイトルの調整
  .privacy__subtitle, .company__subtitle, .company-profile__subtitle, .location__subtitle, .news__subtitle, .work__subtitle {
    font-size: 18px;
    padding-left: 10px;
  }

  // タイトルとテキストの調整
  .privacy__title, .privacy__text, .privacy__contact-detail, .privacy__contact-title {
    font-size: 18px;
  }

  // テーブルの調整
  .privacy__table {
    width: 100%;
  }

  .privacy__table-header, .privacy__table-data {
    padding: 8px;
  }

  // リストの調整
  .privacy__list-item, .privacy__ordered-item {
    margin-bottom: 4px;
  }

  // お問い合わせ窓口の調整
  .privacy__contact {
    margin-bottom: 10px;
  }

  // その他の共通セクション
  .company__container, .news__container, .work__container {
    padding: 10px;
  }

  .company__container, .news__container, .work__container {
    max-width: 100%;
    padding: 10px;
  }

  // Management Philosophy Text
  .management-philosophy__text, .company__text, .location__text {
    font-size: 16px;
    margin-left: 1em;
  }

  // Company Image
  .company__image {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  // Table Styles
  .company-profile__cell-label, .company-profile__cell-info {
    font-size: 14px;
    padding: 10px;
  }

  // Location Styles
  .location__text__group {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }

  .location__name, .location__address, .location__phone {
    margin-bottom: 5px;
    padding: 5px;
  }

  /* ニュース */
  .news__item {
    margin-left: 1em;
  }
  .news__text {
    margin-left: 1em;
    font-size: 14px;
  }

  /* スライド */
  .slide {
    width: 100%;
  }

  /* 画像のスタイル */
  .work-public__image {
    max-width: 95%;
    margin: 0 auto;
  }

  /* 画像のテキスト */
  .image-caption {
    font-size: 14px;
  }

  /* ボタンのスタイル */

  .prev, .next {
    font-size: 14px;
    padding: 8px;
    margin: 3px;
  }

}
