@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../base/typography" as *;
@use "../base/layout-spacing" as *;
@use "../base/animations" as *;

/* 画像コンポーネントのスタイル */
.images {
    position: relative;
    display: block;
    margin-bottom: $space-lg;
}

/* 画像要素のスタイル */
.image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.image:hover,
.image:focus {
    cursor: zoom-in; /* カーソルをズームインアイコンに変更 */
    box-shadow: $box-shadow-medium;
    transform: scale(1.05);
}

/* モーダルスタイル */
.modal {
    display: none; 
    position: fixed; 
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

