@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../base/typography" as *;
@use "../base/layout-spacing" as *;
@use "../base/animations" as *;

// _images.scss

// 画像コンポーネント
.images {
    position: relative;
    display: block;
    margin-bottom: $space-lg;

    // 画像要素
    .image {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
        box-shadow: $box-shadow-light;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        // ホバー時のスタイル
        &:hover,
        &:focus {
            box-shadow: $box-shadow-medium;
            transform: scale(1.05);
        }

        // フォーカス時のスタイル
        &:focus {
            outline: 3px solid $green-1;
        }
    }

    // キャプション
    figcaption {
        font-family: $font-jp-body;
        font-size: $font-size-sm;
        color: $grey-3;
        background-color: rgba($white-smoke, 0.8);
        padding: $space-xs $space-sm;
        border-radius: $border-radius;
        position: absolute;
        bottom: $space-xs;
        left: $space-xs;
        max-width: 80%;

        // アクセシビリティを考慮して、テキストが画像と重なる場合のコントラストを高める
        text-shadow:
            -1px -1px 0 $black,
            1px -1px 0 $black,
            -1px 1px 0 $black,
            1px 1px 0 $black;
    }
}
