@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../base/typography" as *;
@use "../base/layout-spacing" as *;
@use "../base/animations" as *;

/* 画像コンポーネントのスタイル */
.images {
    position: relative;
    display: block;
    margin-bottom: $space-lg;
}

/* 画像要素のスタイル */
.image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.image:hover,
.image:focus {
    cursor: zoom-in; /* カーソルをズームインアイコンに変更 */
    box-shadow: $box-shadow-medium;
    transform: scale(1.05);
}
