@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../base/typography" as *;
@use "../base/layout-spacing" as *;
@use "../base/animations" as *;

// _link-btn.scss

// ボタンスタイル
.link-btn {
    font-family: $font-link-btn;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 2px;
    color: $black;
    transition: color 0.3s ease;

    // アイコンの追加
    &::before {
        content: '\027A4';
        margin-right: 8px;
        display: inline-block;
        transition: transform 0.3s ease;
    }

    &:hover,
    &:focus {
        color: $green-1;

        &::after {
            transform: scaleX(1);
            transform-origin: bottom right;
        }

        // アイコンのホバーアニメーション
        &::before {
            transform: translateX(5px);
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: auto;
        height: 3px;
        width: 100%;
        background-color: $green-1;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    &:focus {
        outline: 3px solid $green-1;
    }

    &--large {
        font-size: $font-size-xl;
    }

    &--small {
        font-size: $font-size-sm;
    }

    &--disabled {
        cursor: not-allowed;
        color: $grey-2;

        &:hover,
        &:focus {
            color: $grey-2;
        }

        &::after {
            background-color: $grey-4;
        }

        // 無効なボタンのアイコンは動かないように
        &::before {
            transform: none;
        }
    }
}
