@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../base/typography" as *;
@use "../base/layout-spacing" as *;
@use "../base/animations" as *;

// _text.scss

// テキストに対するアクセシビリティを高めるためのスタイル
.text {
    &__jp {
        font-size: $h4-size;
        font-family: $font-jp-body;
        font-weight: 700;
        color: $black;
        line-height: $text-line-height;
        letter-spacing: $text-letter-spacing;
        margin-bottom: $space-md;
        text-shadow: $text-shadow-medium;


        @include mq("xs") {
            font-size: $body-size-mobile;
        }

        // リンクに対するスタイル
        a {
            color: $green-1;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $green-2;
                text-decoration: none;
            }
        }
    }
}

// テキストの説明部分
.description {
    &__jp {
        font-size: $body-size;
        font-family: $font-jp-body;
        color: $black;
        line-height: $text-line-height;
        letter-spacing: $text-letter-spacing;
        margin-bottom: $space-md;

        @include mq("xs") {
            font-size: $body-size-mobile;
        }

        // リンクに対するスタイル
        a {
            color: $green-1;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $green-2;
                text-decoration: none;
            }
        }
    }
}
