@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../base/typography" as *;
@use "../base/layout-spacing" as *;
@use "../base/animations" as *;

// _titles.scss

// メインタイトル
.title {
    text-align: center;
    margin-bottom: $space-lg;

    // 日本語タイトル
    &__jp {
        font-size: $h2-size;
        font-family: $font-jp-title;
        color: $black;
        margin-bottom: $space-xxs;

        @include mq("xs") {
            font-size: $h2-size-mobile;
        }
    }

    // 英語タイトル
    &__en {
        font-size: $h3-size;
        font-family: $font-en-title;
        color: $grey-1;
        text-transform: uppercase;
        margin-top: $space-xxs;

        @include mq("xs") {
            font-size: $h3-size-mobile;
        }
    }
}

// サブタイトル
.subtitle {
    margin-bottom: $space-md;

    // 日本語サブタイトル
    &__jp {
        font-size: $h3-size;
        font-family: $font-jp-subtitle;
        color: $black;
        margin-bottom: $space-xxs;

        @include mq("xs") {
            font-size: $h3-size-mobile;
        }
    }

    // 英語サブタイトル
    &__en {
        font-size: $body-size;
        font-family: $font-en-subtitle;
        color: $grey-2;
        text-transform: uppercase;
        margin-top: $space-xxs;

        @include mq("xs") {
            font-size: $body-size-mobile;
        }
    }
}
