// ガイドラインに従ってコントラストをチェックし、アクセシビリティを確保。
$off-white: #fbfaf3;
$light-cream: #F8F8F8;
$almost-white: #fffffc;
$white-smoke: #fbfdff;
$black: #2f2725;
$black-1: #333333;
$grey-1: #767676;
$grey-2: #7b8174;
$grey-3: #747c7d;
$grey-4: #afafb0;
// CTAボタンやアクセントに使用する
$green-1: #009854;
$green-2: #00aa6e;
$green-3: #3ab483;