// _layout-spacing.scss
// 基本スペーシング
$space-xxs: 0.375rem;  // 超小
$space-xs: 0.75rem; // 小
$space-sm: 1rem;// 小中
$space-md: 1.25rem;  // 中
$space-lg: 1.75rem; // 大中
$space-xl: 2.25rem;// 大
$space-xxl: 3.25rem; // 超大

// コンポーネント間隔
$component-margin-vertical: 1rem; // 上下マージン
$component-margin-horizontal: 1rem; // 左右マージン
$component-padding-vertical: 1rem; // 上下パディング
$component-padding-horizontal: 1rem; // 左右パディング

// ボーダー設定
$border-width: 0.0625rem; // 幅
$border-radius: 0.25rem; // 半径

// ボックスシャドウ
$box-shadow-light: 0 0.125rem 0.25rem rgba(47, 39, 37, 0.1); // 軽い
$box-shadow-medium: 0 0.25rem 0.5rem rgba(47, 39, 37, 0.15); // 中
$box-shadow-hard: 0 0.375rem 0.75rem rgba(47, 39, 37, 0.2); // 強い

// テキストシャドウ
$text-shadow-light: 0.0625rem 0.0625rem 0.125rem rgba(47, 39, 37, 0.1); // 軽い
$text-shadow-medium: 0.125rem 0.125rem 0.1875rem rgba(47, 39, 37, 0.15); // 中
$text-shadow-hard: 0.1875rem 0.1875rem 0.25rem rgba(47, 39, 37, 0.2); // 強い

// コンポーネントシャドウ
$component-shadow-light: 0 0.25rem 0.375rem rgba(47, 39, 37, 0.1); // 軽い
$component-shadow-medium: 0 0.375rem 0.5rem rgba(47, 39, 37, 0.15); // 中
$component-shadow-hard: 0 0.5rem 0.75rem rgba(47, 39, 37, 0.2); // 強い

// テキストスペーシング
$letter-spacing-narrow: -0.05em; // 狭い
$letter-spacing-normal: 0em; // 通常
$letter-spacing-wide: 0.05em; // 広い

// 行の高さ
$line-height-tight: 1.2; // タイト
$line-height-normal: 1.5; // 通常
$line-height-loose: 1.8; // ルーズ
$text-line-height: 1.5; // テキスト用

// テキストの文字間隔
$text-letter-spacing: 0.05em;

