@use 'mq' as mq; // 同じ名前空間
@use 'variables' as vars; // 変数ファイルの相対パスが必要です

@include mq.mq('md') {
    // タブレット用のスタイル
    body {
        font-size: 15px; // タブレットサイズでのフォントサイズ
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    .text{
        font-size: 23px;
    }
    .site-logo {
        width: 50px; // タブレットサイズでのロゴの幅
        height: auto; // アスペクト比を保つ
    }

      // メニュー表示
      #hamburger-toggle { display: block; }

      // メインナビゲーション非表示
      .main-navigation { display: none; }

      // ナビゲーションアイテムのスタイリング
      .navigation-item, .other-navigation-item {
          margin-right: 5px; margin-left: 0;
          padding-right: 0; padding-left: 0;
      }

      // サブナビゲーションのスタイリング
      .other-navigation-list { margin: 0; }

      // クローズボタン
      .close-button { display: none; }

      // ハンバーガーとクローズトグル
      #hamburger-toggle, #close-toggle {
          background-color: transparent;
          border: none;
          cursor: pointer;
          color: vars.$color_2; // 名前空間を使って変数にアクセス
          font-size: 3em;
      }

      // ロゴ
      .site-logo { width: 50px; height: auto; }
  }




