@use "../base" as *;
@use "../abstracts" as *;
@use "../components" as *;

// _Policy.scss
// プライバシーポリシーのセクション
.policy {
    padding: $space-xl $space-lg;
    background-color: $almost-white;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    text-align: center;
    margin-bottom: $space-xl;
    text-align: left;

    @include mq("xs") {
        padding: $space-lg $space-md;
    }

    @include mq("sm") {
        padding: $space-xl $space-lg;
    }

    @include mq("md") {
        padding: $space-xxl $space-xl;
    }

    header {
        margin-bottom: $space-lg;
    }

    .container {
        margin-bottom: $space-lg;

        p {
            margin-bottom: $space-md;
        }
    }

    .accordion {
        .qa-001,
        .qa-002,
        .qa-003,
        .qa-004,
        .qa-005,
        .qa-006,
        .qa-007,
        .qa-008,
        .qa-009,
        .qa-010,
        .qa-011,
        .qa-012,
        .qa-013,
        .qa-014,
        .qa-015,
        .qa-016{
            margin-bottom: $space-md;
        }

        .accordion__title {
            font-family: $font-jp-subtitle;
            font-size: $font-size-lg;
            color: $black;
            padding: $space-xs $space-sm;
            cursor: pointer;
            position: relative;
            background-color: $light-cream;
            border: 1px solid $grey-2;
            border-radius: $border-radius;

            &:hover,
            &:focus {
                background-color: $off-white;
            }
        }

        .accordion__content {
            padding: $space-sm;
            border: 1px solid $grey-2;
            border-top: none;
            border-radius: $border-radius;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: $white-smoke;

            p {
                margin-bottom: $space-xs;
            }
        }
    }
}

details {
    &::-webkit-details-marker {
        display: none;
    }
}
